/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url('../fonts/RalewayRegular/RalewayRegular.woff') format('woff'),
    url('../fonts/RalewayRegular/RalewayRegular.eot') format('eot');
  font-weight: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url('../fonts/RalewayBold/RalewayBold.woff') format('woff'),
    url('../fonts/RalewayBold/RalewayBold.eot') format('eot');
  font-weight: bold;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url('../fonts/RalewaySemiBold/RalewaySemiBold.woff') format('woff'),
    url('../fonts/RalewaySemiBold/RalewaySemiBold.eot') format('eot');
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('../fonts/RobotoBold/RobotoBold.woff') format('woff'),
    url('../fonts/RobotoBold/RobotoBold.eot') format('eot');
  font-weight: bold;
}

@font-face {
  font-family: 'Centro';
  src: local('PF Centro Slab Pro'), url('../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.woff') format('woff'),
    url('../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.eot') format('eot');
  font-weight: 500;
}

@font-face {
  font-family: 'Centro';
  src: local('PF Centro Slab Pro'), url('../fonts/PFCentroSlabProBold/PFCentroSlabProBold.woff') format('woff'),
    url('../fonts/PFCentroSlabProBold/PFCentroSlabProBold.eot') format('eot');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.lock {
  overflow: hidden;
}

.body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1140px;
  padding: 100px 15px 40px;
  margin: 0 auto;
}

.header {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 48px;
}

.header::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 160px;
  background-image: url('../img/top_gradient.png');
  z-index: -1;
}

.header__logo-img {
  display: block;
  max-width: 102px;
  width: 100%;
  max-height: 48px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header__menu-link {
  color: #ffffff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__menu-link_active {
  color: #f39f18;
  border-bottom: 1px solid #f39f18;
}

.header__menu-link:hover,
.header__menu-link:focus {
  color: #f39f18;
}

.header__menu-nav {
  margin-left: auto;
  margin-right: 20px;
}

.header__phone {
  margin-left: auto;
  font-family: 'Roboto', 'Raleway', Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 20px;
}

.request {
  position: relative;
  min-height: 620px;
  background-image: url('../img/header_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.request::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #394b5f;
  opacity: 0.85;
  z-index: 1;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0;
}

.header__logo-link {
  margin-right: 40px;
}

.header__menu-element {
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.mob-menu {
  display: none;
  position: relative;
  width: 20px;
  height: 16px;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.mob-menu__line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.mob-menu__line:first-child {
  top: 0;
}

.mob-menu__line:nth-child(2) {
  top: 50%;
}

.mob-menu__line:last-child {
  top: 100%;
}

.mob-menu:hover:not(.mob-menu_active) .mob-menu__line:first-child,
.mob-menu:hover:not(.mob-menu_active) .mob-menu__line:last-child {
  width: 50%;
}

.mob-menu_active .mob-menu__line:nth-child(2) {
  width: 0;
}

.mob-menu_active .mob-menu__line:first-child,
.mob-menu_active .mob-menu__line:last-child {
  width: 100%;
}

.mob-menu_active .mob-menu__line:first-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
}

.mob-menu_active .mob-menu__line:last-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 50%;
}

.header__menu-nav-mob {
  display: none;
}

.request__main-title {
  margin-right: 30px;
}

.request__wrapper {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-form {
  max-width: 360px;
  width: 100%;
  padding: 35px;
  background-color: rgba(36, 51, 67, 0.8);
  border-bottom: 4px solid #1a222b;
}

.main-form__wrapp-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.request__title {
  margin-bottom: 50px;
  font-size: 48px;
  font-family: 'Centro', Arial, Helvetica, sans-serif;
  color: #ffffff;
  border-bottom: 8px solid #f39f18;
}

.request__list {
  color: #ffffff;
  font-weight: 600;
}

.request__element {
  position: relative;
  padding-left: 15px;
  margin-bottom: 20px;
}

.request__element:hover,
.request__element:focus {
  text-decoration: underline;
}

.request__element::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #f39f18;
  border-top: 6px solid transparent;
}

.main-form__title {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 28px;
}

.main-form__description {
  max-width: 260px;
  font-family: 'Centro', Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #97a4b2;
}

.main-form__label {
  margin-bottom: 12px;
  font-family: 'Centro', Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #97a4b2;
}

.main-form__input {
  color: #ffffff;
  background-color: #34465a;
  border: none;
  font-size: 16px;
  outline: none;
  padding: 10px;
  -webkit-box-shadow: 0px -3px #1f2a36;
  box-shadow: 0px -3px #1f2a36;
}

.main-form__input:focus {
  -webkit-box-shadow: 0px -3px #f39f18;
  box-shadow: 0px -3px #f39f18;
}

.main-form__input-name {
  margin-bottom: 25px;
}

.main-form__input-phone {
  margin-bottom: 30px;
}

.main-form__input-submit {
  padding: 15px 35px;
  font-family: 'Centro', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: #f39f18;
  border: none;
  border-bottom: 3px solid #b97200;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.main-form__input-submit:hover {
  background-color: #ffb338;
}

.request__button-link {
  position: relative;
  z-index: 3;
  width: 100%;
  text-align: center;
}

.request__button {
  display: block;
  width: 40px;
  background-color: transparent;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.request__button:hover {
  opacity: 1;
}

.request__button-img {
  display: block;
  height: 40px;
  width: 40px;
}

.request__main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.title {
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
  font-family: 'Centro', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  color: #2c3949;
  -webkit-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.title_off {
  opacity: 0;
}

.title::after {
  display: block;
  content: '';
  position: absolute;
  background-color: #f39f18;
  height: 4px;
  width: 160px;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.description {
  max-width: 940px;
  margin: 0 auto 70px;
  text-align: center;
  font-size: 15px;
  color: #333333;
  -webkit-transition: opacity 0.9s ease 0.3s;
  -o-transition: opacity 0.9s ease 0.3s;
  transition: opacity 0.9s ease 0.3s;
}

.description_off {
  opacity: 0;
}

.description__weight {
  font-weight: bold;
}

.description__link {
  color: #f39f18;
  border-bottom: 1px solid #f39f18;
}

.pretitle {
  margin-bottom: 70px;
  color: #394b5f;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

.pretitle_off {
  opacity: 0;
}

.pretitle,
.pretitle * {
  font-size: 24px;
  text-align: center;
  font-family: 'Centro', Arial, Helvetica, sans-serif;
}

.link {
  color: #f39f18;
  border-bottom: 1px solid #f39f18;
}

.link:hover {
  border-bottom: none;
}

.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2c3949;
}

.section-footer__button {
  display: block;
  margin: 0 auto;
  padding: 15px 35px;
  font-family: 'Centro', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: #f39f18;
  border: none;
  border-bottom: 3px solid #b97200;
  cursor: pointer;
}

.section-footer__button:hover {
  background-color: #ffb338;
}

.section-wrapper,
.section-wrapper_dark,
.section-wrapper_gray {
  position: relative;
}

.section-wrapper::before,
.section-wrapper_dark::before,
.section-wrapper_gray::before {
  content: '';
  height: 6px;
  position: absolute;
  top: -5px;
  width: 100%;
  background-image: url(../img/bah_1.png);
  z-index: 1;
}

.section-wrapper_dark::before {
  background-image: url(../img/bah_2.png);
}

.section-wrapper_gray::before {
  background-image: url(../img/bah_3.png);
}

.grade__content {
  position: relative;
  background-image: url('../img/s1_gray_bg.png');
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 550px;
  padding-bottom: 90px;
}

.grade__content__bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url('../img/s1_triangle.svg');
  background-position: top;
  background-size: 100% 100%;
  min-height: 90px;
  text-align: center;
}

.grade__footer {
  padding: 15px 0 100px;
  background-color: #394b5f;
}

.grade__item-title {
  margin-bottom: 24px;
  font-size: 24px;
  font-family: 'Centro', Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #f39f18;
  text-decoration: underline;
}

.grade__item:hover .grade__item-title,
.accountant__element:hover .grade__item-title {
  text-decoration: none;
}

.grade__item-paragraph {
  font-size: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d6d9dc;
}

.grade__list {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: minmax(160px, 295px) 10px minmax(160px, 295px) 10px minmax(160px, 295px);
  grid-template-columns: repeat(3, minmax(160px, 295px));
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  height: 100%;
}

.grade__content-wrapper {
  padding-top: 70px;
  padding-bottom: 0;
  height: 480px;
}

.grade__item:nth-child(2) {
  position: relative;
  top: -100px;
}

.grade__item:nth-child(5) {
  -ms-grid-column: 3;
  grid-column: 3;
}

.grade__footer .grade__item:nth-child(2) {
  position: relative;
  top: 100px;
}

.grade__item {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.grade__item_off {
  opacity: 0;
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
}

.grade__footer .wrapper {
  padding-top: 0;
}

.grade__footer .grade__list {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.grade__footer .grade__item-paragraph {
  color: #ffffff;
}

.grade__content__bottom-logo {
  width: 116px;
  margin-top: 20px;
}

.grade__content__bottom-img {
  position: absolute;
  top: -130px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 160px;
  z-index: -1;
}

.deals__element-img {
  max-width: 75px;
  max-height: 60px;
  width: auto;
}

.deals__element-line {
  display: block;
  position: relative;
  padding-bottom: 20px;
  height: 85px;
  margin-bottom: 20px;
}

.deals__element-line::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 60px;
  background-color: #f39f18;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.deals__element {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  width: 190px;
  padding: 0 15px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.deals__element:hover {
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}

.deals__element_off {
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
  opacity: 0;
}

.deals__list {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.deals__element-title {
  color: #000000;
  text-decoration: underline;
  margin-bottom: 50px;
}

.deals .section-footer {
  background-color: #e5e5e5;
}

.section-wrapper_dark .title {
  color: #ffffff;
}

.section-wrapper_dark .description {
  color: #e5e5e5;
}

.accountant {
  background-color: #2c3949;
}

.accountant__item-paragraph {
  font-size: 15px;
  color: #f9f9f9;
}

.accountant__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(160px, 245px) 50px minmax(160px, 245px) 50px minmax(160px, 245px);
  grid-template-columns: repeat(3, minmax(160px, 245px));
  padding-top: 170px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-gap: 50px;
}

.accountant__content {
  position: relative;
  min-height: 850px;
  background-image: url('../img/s3_sun_bg.png');
  background-repeat: no-repeat;
  background-position: center;
}

.accountant__element:nth-child(2) {
  position: relative;
  top: -120px;
}

.accountant__element:nth-child(5) {
  margin-top: 30px;
  -ms-grid-column: 3;
  grid-column-start: 3;
  position: relative;
  left: 30px;
}

.accountant__element:nth-child(7) {
  position: relative;
  top: 110px;
}

.accountant__element:nth-child(6) {
  margin-top: 30px;
}

.accountant__element:nth-child(1),
.accountant__element:nth-child(6) {
  position: relative;
  left: 30px;
}

.accountant__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.accountant__element_off {
  opacity: 0;
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
}

.accountant__wrapper {
  padding-bottom: 60px;
  max-width: 980px;
}

.section-wrapper_dark .section-footer {
  background-color: #394b5f;
}

.accountant__img-wrapp {
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #f39f18;
}

.accountant__img {
  width: 70px;
  height: 70px;
}

.accountant__item-title {
  border: none;
}

.benefits {
  background-color: #e5e5e5;
}

.benefits__element {
  margin: 0 12px 30px;
  padding: 55px 30px;
  background-color: #2c3949;
  max-width: 260px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 4px solid #1a222b;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.benefits__element:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.benefits__element_off {
  -webkit-transform: rotateY(80deg);
  transform: rotateY(80deg);
  opacity: 0;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-perspective: 600px;
  perspective: 600px;
}

.benefits__content {
  text-align: center;
}

.benefits__img-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 120px;
  margin: 0 auto 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f39f18;
  border-radius: 50%;
}

.benefits__img {
  width: 70px;
}

.benefits__content-title {
  color: #e5e5e5;
}

.benefits__content-description {
  color: #97a4b2;
}

.benefits__content-select {
  color: #f39f18;
}

.benefits__content-title {
  margin-bottom: 24px;
}

.benefits .section-footer {
  background-color: #d6d6d6;
}

.how {
  background-color: #2c3949;
}

.how__list {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 40px;
}

.how__element {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 128px;
  width: 290px;
  margin-left: -40px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.how__element:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.how__description {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  font-family: 'Centro', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 60px;
  padding-left: 45px;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.how__description_on {
  opacity: 1;
}

.how__element:first-child .how__description {
  margin-left: 50px;
}

.how__description-number {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  color: #ffffff;
  font-family: 'Centro', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.how__element svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.how__description-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
}

.contacts__element {
  background-color: #e5e5e5;
  border-color: #d6d6d6;
}

.contacts__title {
  margin-bottom: 16px;
  color: #333333;
}

.contacts__content-description {
  margin-bottom: 16px;
}

.contacts__phone {
  color: #333333;
  font-weight: bold;
  font-family: 'Roboto', 'Raleway', Arial, Helvetica, sans-serif;
}

.contacts__img {
  width: 100%;
  border-radius: 50%;
}

.contacts__img-wrapp {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 5px #d6d6d6;
  box-shadow: 0 0 0 5px #d6d6d6;
}

.reviews {
  background-color: #e5e5e5;
  -webkit-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.reviews_off {
  opacity: 0;
}

.reviews__img-wrapp {
  width: 116px;
  height: 116px;
  margin: 0 auto 35px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 7px #f39f18;
  box-shadow: 0 0 0 7px #f39f18;
  opacity: 0;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

.reviews__img {
  width: 100%;
  border-radius: 50%;
}

.reviews-slider {
  padding-top: 30px;
  padding-bottom: 70px;
}

.reviews-slider .swiper-slide {
  text-align: center;
}

.reviews-slider .swiper-button-prev,
.reviews-slider .swiper-button-next {
  color: #b1b1b1;
  font-weight: bold;
  top: 20%;
}

.reviews-slider .swiper-button-prev::after,
.reviews-slider .swiper-button-next::after {
  font-size: 20px;
}

.reviews-slider .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.reviews-slider .swiper-pagination-bullet-active {
  background-color: #f39f18;
}

.reviews__title {
  margin-bottom: 15px;
  color: #333333;
  font-size: 18px;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.reviews__subtitle {
  margin-bottom: 30px;
  font-size: 13px;
  color: #6e7b8b;
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.reviews__description {
  max-width: 945px;
  margin: 0 auto;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

.reviews__title,
.reviews__subtitle,
.reviews__description {
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  opacity: 0;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.swiper-slide-active .reviews__title,
.swiper-slide-active .reviews__subtitle,
.swiper-slide-active .reviews__description {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.swiper-slide-active .reviews__title,
.swiper-slide-active .reviews__subtitle,
.swiper-slide-active .reviews__description {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.swiper-slide-active .reviews__img-wrapp {
  opacity: 1;
}

.request-bottom__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.request-bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.request-bottom__img {
  height: 70px;
}

.request-bottom__description {
  font-weight: bold;
}

.request-bottom .title,
.request-bottom .description {
  text-align: left;
}

.request-bottom .title::after {
  left: 0;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.request-bottom__img-wrapper {
  margin-bottom: 30px;
}

.request-bottom__element {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.request-bottom__element:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.request-bottom__element_off {
  opacity: 0;
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
}

.bottom__form {
  background-color: #dddddd;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.bottom__form_off {
  opacity: 0;
  -webkit-transform: translateX(500px);
  -ms-transform: translateX(500px);
  transform: translateX(500px);
}

.bottom-form__title {
  color: #2c3949;
}

.bottom__form__input {
  background-color: #c0c0c0;
}

.footer {
  background-color: #2c3949;
}

.footer-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__menu-nav {
  margin-left: auto;
  margin-right: 20px;
}

.footer__menu-link {
  color: #ffffff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer__menu-link_active {
  color: #f39f18;
  border-bottom: 1px solid #f39f18;
}

.footer__menu-link:hover,
.footer__menu-link:focus {
  color: #f39f18;
}

.footer__button-up-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1f2b3a;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer__button-up img {
  display: block;
}

.footer__button-up {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .mob-menu {
    display: block;
  }

  .header__menu-nav-mob {
    display: block;
    position: absolute;
    z-index: 10;
    background-color: rgba(52, 67, 82, 0.9);
    left: 0;
    right: 0;
    top: 100px;
    bottom: -30px;
    padding: 15px;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
    transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
  }

  .header__menu-nav-mob_active {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .header__menu-link {
    font-weight: bold;
    font-size: 18px;
  }

  .header__menu-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
  }

  .main-form {
    margin: 0 auto;
  }

  .request__main-title {
    margin-bottom: 50px;
    width: 100%;
    margin-right: 0;
  }

  .header__menu-nav {
    display: none;
  }

  .header__phone {
    margin: 0 20px;
  }

  .header__logo-link {
    margin-right: 0;
  }

  .header-wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .request__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 60px;
    padding-top: 70px;
  }

  .request__title {
    font-size: 40px;
  }

  .grade__content__bottom {
    background-size: cover;
  }

  .grade__item-title {
    font-size: 20px;
  }

  .grade__item-paragraph {
    font-size: 12px;
  }

  .grade__content-wrapper {
    padding-top: 0;
  }

  .description {
    margin-bottom: 40px;
  }

  .accountant__item-paragraph {
    font-size: 12px;
  }

  .accountant__list {
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
    grid-gap: 20px;
  }

  .accountant__content {
    min-height: auto;
    background-image: none;
  }

  .accountant__element:nth-child(2),
  .accountant__element:nth-child(7) {
    top: 0;
  }

  .accountant__element:nth-child(1),
  .accountant__element:nth-child(6),
  .accountant__element:nth-child(3),
  .accountant__element:nth-child(8),
  .accountant__element:nth-child(5) {
    left: 0;
  }

  .accountant__element:nth-child(5),
  .accountant__element:nth-child(6) {
    margin-top: 0;
  }

  .accountant__element:nth-child(5) {
    -ms-grid-column: auto;
    grid-column-start: auto;
  }

  .accountant__item-title {
    min-height: 50px;
  }

  .accountant__element {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }

  .accountant__img-wrapp {
    display: none;
  }

  .request-bottom__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .bottom__form {
    max-width: 100%;
  }

  .request-bottom .title,
  .request-bottom .description {
    text-align: center;
  }

  .request-bottom .title::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .footer__logo-link {
    margin-right: 30px;
  }

  .footer__logo-img {
    min-width: 102px;
  }
}

@media screen and (max-width: 768px) {
  .request-bottom__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .request-bottom__element {
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
  }

  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__logo-link {
    margin-bottom: 30px;
  }

  .footer__menu-nav {
    margin-bottom: 30px;
    margin-right: auto;
  }

  .footer__menu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header__phone {
    font-size: 16px;
  }

  .header__logo-img {
    max-width: 70px;
  }

  .request__title {
    font-size: 32px;
  }

  .main-form {
    max-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
  }

  .request__element {
    font-size: 12px;
  }

  .main-form__title {
    font-size: 24px;
  }

  .main-form__description {
    font-size: 12px;
  }

  .main-form__label {
    font-size: 12px;
  }

  .main-form__input-submit {
    padding: 10px 30px;
    font-size: 16px;
  }

  .request__wrapper {
    padding-top: 15px;
  }

  .grade__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grade__content__bottom-img {
    display: none;
  }

  .grade__item:nth-child(5) {
    -ms-grid-column: 1;
    grid-column: 1;
  }

  .grade__item:nth-child(2) {
    top: 0;
  }

  .grade__footer .grade__item:nth-child(2) {
    top: 0;
  }

  .grade__footer .grade__list {
    grid-gap: 30px;
  }

  .grade__content-wrapper {
    height: auto;
    min-height: 480px;
  }

  .deals__element {
    width: 140px;
  }

  .section-footer__button {
    font-size: 14px;
  }

  .accountant__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .accountant__item-title {
    margin-bottom: 10px;
    min-height: auto;
  }

  .section-footer__button {
    padding: 15px 30px;
  }

  .pretitle {
    margin-bottom: 50px;
  }

  .request-bottom__img-wrapper {
    margin-bottom: 20px;
  }

  .request-bottom__element {
    width: 100%;
    margin-bottom: 50px;
  }
}
